.result-amount-bar {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(15, 19, 15);
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 auto 10px auto;
    color: rgb(38, 122, 42);
    font-weight: bold;
}

.result-error-bar {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(236, 25, 25);
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 auto 10px auto;
    color: rgb(219, 16, 16);
    font-weight: bold;
}